.sidebar {
    width: 350px;
    height: 100%;

    text-transform: uppercase;
    color: white;
    line-height: 1.1rem;

    background: #333645;
    cursor: pointer;

    ul {
        list-style-type: none;
        padding-left: 0px;
        margin: 0px;

        li {
            background: rgba(#6666, 0.05);
            border-top: 1px solid hsla(0, 0%, 100%, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            display: block;
            margin: 0px;

            & a {
                padding: 20px 20px 20px 20px;
                width: 100%;
                display: block;
                text-decoration: none;
                color: inherit;
                font-size: 1rem;
                letter-spacing: 0.025rem;
                height: 56px;
            }

            ul li {
                background-color: #282a36;

                a {
                    height: 51px;
                    font-size: 0.875rem;
                }

                &:hover {
                    background-color: #282a36;
                }

                a::before {
                    content: "\BB";
                    color: white;
                    margin-right: 20px;
                }
            }

            &:hover {
                background: rgba(#6666, 0.25);
            }
        }
    }

    @media (max-width: 768px) {
        width: 275px;
    }
}

.mob-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    @media (min-width: 768px) {
        display: none;
    }

    .main-li {
        display: -ms-flexbox;
        display: flex;

        -ms-flex-direction: column;
        flex-direction: column;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        -ms-justify-content: space-around;
        justify-content: space-around;

        -ms-flex-align: center;
        align-items: center;

        padding: 20px;
        margin: 20px;
        outline: 1px solid rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        background: transparent;

        span {
            margin-top: 5px;
        }
    }

    .main-li:first-of-type {
        margin-bottom: 0px;
    }

    .mob-list {
        margin: 0px 20px;
        border-radius: 3px;
        overflow: hidden;
        border: none;
        ul {
            -ms-flex-direction: column;
            flex-direction: column;
            border-radius: 3px;

            a::before {
                content: none;
            }

            li {
                border-top: 1px solid rgba(255, 255, 255, 0.05);
                text-align: center;
                line-height: 6px;
                height: 43px;

                a {
                    font-size: 1rem;
                    padding: 20px 0px 17px;
                }
            }

            li:nth-of-type(1) {
                border-top: none;
            }

            li:nth-of-type(6) {
                border-bottom: none;
            }
        }
    }

    .mob-list:last-of-type {
        margin-bottom: 20px;
    }
}

.slidingNav {
    position: fixed;
    top: -210px;
    z-index: 19;
    height: 210px;
    width: 100%;
    transition: 0.5s ease-in-out;
    transform: translateY(210px);

    header,
    .main-nav {
        position: relative;
        top: 0px;

        .nav-drop {
            transform: translateY(-110px);
        }
    }
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.website {
    background: white;

    left: 0px;
    transition: ease-in-out 0.25s;
    z-index: 10;

    position: relative;

    &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100vh;
        background: black;
        opacity: 0;
        z-index: 20;
        transition: 0.2s ease-in-out;
        pointer-events: none;
    }
}

.website.active {
    left: -350px;

    @media (max-width: 768px) {
        left: -275px;
    }

    &::before {
        pointer-events: all;
        cursor: pointer;
        opacity: 0.4;
    }
}

.homepage {
    margin: 0px;
    overflow-x: hidden;
    position: relative;
}
